.product{
    margin-right: auto;
  }
  .product-container {
    display: flex;
    justify-content: space-evenly;
    padding: 1em 26em 2.5em 1em;
  }
  .reviews{
    display: flex;
    padding: 1em 26em 2.5em 1em;
  }
  .mystyle {
    display:"block";
    margin:2px;
 }